body {
  background-color: #4f81c7;
  color: #fcfafa;
  font-family: 'Martel', serif;
  margin: 0;
  text-align: center;
}

h1 {
  font-family: "Permanent Marker", serif;
  margin-top: 0;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
}

h3 {
  font-family: 'Josefin Sans', sans-serif;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 70px;
}

.bottom-cloud {
  position: absolute;
}

.top-container {
  padding-top: 130px;
  position: relative;
}

/* .middle-container {

}

.bottom-container {

} */
