body {
  color: #4f81c7;
  font-family: 'Martel', serif;
  margin: 0;
  text-align: center;
}

.top-container {
  background-color: #4f81c7;
  padding-top: 130px;
  position: relative;
}

h1 {
  color: #f0d78c;
  font-family: "Permanent Marker", serif;
  font-size: 5.625rem;
  line-height: 2;
  margin: 50px auto 0 auto;
}

h2 {
  color: #64c4ed;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #64c4ed;
  font-family: 'Josefin Sans', sans-serif;
  /* padding: 20px 0; */
}

.intro {
  width: 30%;
  margin: auto;
}

.profile {
  padding-bottom: 50px;
}

hr {
  width: 8%;
  border: 0;
  border-top: 10px dotted;
  height: 0;
}

.skills {
  padding-top: 50px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 70px;
}

p {
  line-height: 2;

}

.contact-message {
  width: 40%;
  margin: auto;
}

.skill-row {
  height: 200px;
  margin: 100px auto;
  text-align: left;
  width: 50%;
}

.contact-me {
  padding-top: 50px;
  padding-bottom: 30px;
}

.bar-chart {
  float: left;
  margin-right: 30px;
  width: 200px;
}

.python {
  float: right;
  margin-left: 30px;
  width: 200px;
}

.bottom-cloud {
  position: absolute;
}

.btn-container {
  padding: 50px 0;
}

.main-image {
  height: 600px;
  margin-top: 100px;
}

.bottom-container {
  padding: 30px 0 23px 0;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #f0d78c;
  line-height: 3;
  color: #4f81c7;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #4f81c7;
}

.footer-link {
  margin: 0 25px;
}

.copyright-text {
  font-size: 12px;
}

.btn {
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  margin: 30px 0;
  color: #fcfafa;
  font-size: 18px;
  padding: 20px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  background: #64c4ed;
}

.btn:hover {
  background: #4f81c7;
}
